<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wu.ai.song.api.mapper.UserDao">
    <resultMap id="UserResultMap" type="wu.ai.song.api.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
        <result property="version" column="version"/>
        <result property="deleted" column="deleted"/>
        <association property="child" javaType="wu.ai.song.api.entity.User">
            <result property="gmtCreate" column="child_gmt_create"/>
        </association>
        <collection property="children" ofType="wu.ai.song.api.entity.User">
            <id property="id" column="children_id"></id>
        </collection>
    </resultMap>
    <sql id="selectSql">
        user.id, user.name, user.age, user.email, user.version, user.deleted, user.gmt_create
    </sql>

    <select id="getDepartmentAll" resultMap="UserResultMap" flushCache="true">
        select <include refid="selectSql"></include>, user.gmt_create child_gmt_create, temp.id children_id
        from user user
        cross join user temp
        <!--<if test="username != null and username != ''">username = #{username}</if>-->
        <!--<where>-->
        <!--    <if test="id != null">-->
        <!--        id = #{id}-->
        <!--    </if>-->
        <!--</where>-->
        <!--<set>-->
        <!--    <if test="name != null">-->
        <!--        name = #{name} ,-->
        <!--    </if>-->
        <!--</set>-->
        <!--<trim prefix="WHERE" prefixOverrides="AND | OR ">-->
        <!--    <if test="id != null">-->
        <!--        and id = #{id}-->
        <!--    </if>-->
        <!--</trim>-->
        <!--<trim prefix="SET" suffixOverrides=",">-->
        <!--    <if test="name != null">-->
        <!--        name = #{name} ,-->
        <!--    </if>-->
        <!--</trim>-->
        <!--<foreach collection="list" item="id" open="(" close=")" separator=",">-->
        <!--    #{id}-->
        <!--</foreach>-->
    </select>
    <select id="queryDepartmentAll" resultType="wu.ai.song.api.entity.User" resultSetType="FORWARD_ONLY" fetchSize="3">
        select *
        from user
    </select>
    <select id="cursorDepartment" resultType="wu.ai.song.api.entity.User" resultSetType="FORWARD_ONLY" fetchSize="3">
        select *
        from user
    </select>
</mapper>
